body {
  font-family: 'Noto Sans', sans-serif;
}



.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;

    /* background-color: rgba(255, 255, 255, 0.5); */
}

.content {
  font-family: 'Noto Sans', sans-serif;

}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
    /* background-color: rgba(255, 255, 255, 0.5); */

}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

.hero {
  position: relative;
  /* width: 100vw; 
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden; /* Prevents scrollbars if the content overflows */
}

.subtitle {
  text-align: center; /* Keeps the subtitle centered */
}

/* .video-container {
  position: relative;
  width: 70%; 
  height: auto;
  overflow: hidden; 
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
} */

.video-container {
  position: relative;
  width: 100%;
  height: auto;  /* Height should be set to 0 if using padding-top for aspect ratio */
  overflow: hidden;
  align-items: center;
}

.video-container video {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.video-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(7, 7, 7, 0.7); /* Semi-transparent black background */
  color: rgb(255, 249, 249); /* Nearly white text color */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  visibility: hidden; /* Start as hidden */
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s; /* Smooth transition */
  font-family: 'Google Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  pointer-events: none; /* Allows clicks to pass through to the video */
  width: 70%;
  margin: 0 auto;
}

.fullscreen-bg {
  background-color: white; /* White background */
  width: 100%;
  height: 100%;
}

.video-container:hover .video-caption {
  visibility: visible; /* Show on hover */
  opacity: 1; /* Make fully opaque on hover */
  pointer-events: auto; /* Enable pointer events when caption is visible */
}