# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.1.0=pypi_0
accelerate=0.20.3=pypi_0
addict=2.4.0=pypi_0
affine=2.4.0=pypi_0
aioboto3=13.1.0=pypi_0
aiobotocore=2.13.1=pypi_0
aiofiles=22.1.0=pypi_0
aiohttp=3.9.5=pypi_0
aioitertools=0.11.0=pypi_0
aiosignal=1.3.1=pypi_0
aiosqlite=0.20.0=pypi_0
annotated-types=0.7.0=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.4.0=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
babel=2.15.0=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
beautifulsoup4=4.12.3=pypi_0
black=24.8.0=pypi_0
blas=1.0=mkl
bleach=6.1.0=pypi_0
blessed=1.20.0=pypi_0
boto3=1.34.131=pypi_0
botocore=1.34.131=pypi_0
bzip2=1.0.8=h7f98852_4
ca-certificates=2024.7.4=hbcca054_0
cachetools=5.3.3=pypi_0
certifi=2024.6.2=pypi_0
cffi=1.16.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
click-plugins=1.1.1=pypi_0
cligj=0.7.2=pypi_0
cloudpickle=3.0.0=pypi_0
comm=0.2.2=pyhd8ed1ab_0
cudatoolkit=11.3.1=h9edb442_10
cycler=0.12.1=pypi_0
debugpy=1.6.7=py39h6a678d5_0
decorator=4.4.2=pypi_0
defusedxml=0.7.1=pypi_0
deprecation=2.1.0=pypi_0
descartes=1.1.0=pypi_0
diffusers=0.17.1=pypi_0
distlib=0.3.8=pypi_0
distro=1.9.0=pypi_0
einops=0.3.2=pypi_0
entrypoints=0.4=pyhd8ed1ab_0
exceptiongroup=1.2.1=pypi_0
executing=2.0.1=pyhd8ed1ab_0
farama-notifications=0.0.4=pypi_0
fastapi=0.112.0=pypi_0
fastjsonschema=2.20.0=pypi_0
ffmpeg=4.3=hf484d3e_0
filelock=3.15.4=pypi_0
fiona=1.9.6=pypi_0
fire=0.6.0=pypi_0
fonttools=4.53.0=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.10.4=h0708190_1
frozenlist=1.4.1=pypi_0
fsspec=2024.6.1=pypi_0
ftfy=6.2.0=pypi_0
geopandas=0.12.1=pypi_0
gmp=6.2.1=h58526e2_0
gnutls=3.6.13=h85f3911_1
gpustat=1.1.1=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.65.4=pypi_0
gymnasium=0.29.1=pypi_0
h11=0.14.0=pypi_0
h5py=3.10.0=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.23.4=pypi_0
hydra-core=1.3.0=pypi_0
idna=3.7=pypi_0
imageio=2.34.2=pypi_0
imageio-ffmpeg=0.5.1=pypi_0
importlib-metadata=8.0.0=pypi_0
iniconfig=2.0.0=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
ipykernel=6.29.5=pyh3099207_0
ipython=8.12.0=pyh41d4057_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.1.3=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jpeg=9e=h166bdaf_1
json5=0.9.25=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.22.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter-client=7.4.9=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-packaging=0.12.3=pypi_0
jupyter-server=2.14.1=pypi_0
jupyter-server-fileid=0.9.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyter-server-ydoc=0.8.0=pypi_0
jupyter-ydoc=0.2.5=pypi_0
jupyter_core=5.7.2=py39hf3d152e_0
jupyterlab=3.6.7=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.2=pypi_0
jupyterlab-widgets=3.0.11=pypi_0
kiwisolver=1.4.5=pypi_0
kornia=0.7.2=pypi_0
kornia-rs=0.1.1=pypi_0
lame=3.100=h7f98852_1001
lcms2=2.12=hddcbb42_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libiconv=1.17=h166bdaf_0
libpng=1.6.37=h21135ba_2
libsodium=1.0.18=h36c2ea0_1
libstdcxx-ng=11.2.0=h1234567_1
libtiff=4.2.0=hf544144_3
libuv=1.43.0=h7f98852_0
libwebp-base=1.2.2=h7f98852_1
llvmlite=0.41.1=pypi_0
lxml=5.2.2=pypi_0
lz4-c=1.9.3=h9c3ff4c_1
markdown=3.6=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.5.3=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
metadrive-simulator=0.4.2.3=dev_0
mistune=3.0.2=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py39h7e14d7c_0
mkl_fft=1.3.1=py39h0c7bc48_1
mkl_random=1.2.2=py39hde0f152_0
mmcv-full=1.4.5=pypi_0
mmdet=2.20.0=pypi_0
mmdet3d=0.17.1+0cbec62.d20240821=dev_0
moviepy=1.0.3=pypi_0
multidict=6.0.5=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclassic=1.1.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
nettle=3.6=he412f7d_0
notebook=6.5.7=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.58.1=pypi_0
numpy=1.26.4=pypi_0
nuplan-devkit=1.2.2=dev_0
nuscenes-devkit=1.1.11=pypi_0
nvidia-ml-py=12.555.43=pypi_0
olefile=0.47=pyhd8ed1ab_0
omegaconf=2.3.0=pypi_0
open-clip-torch=2.17.1=pypi_0
open3d=0.14.1=pypi_0
openai=1.36.1=pypi_0
opencv-python=4.10.0.84=pypi_0
openh264=2.1.1=h780b84a_0
openjpeg=2.4.0=hb52868f_1
openssl=3.0.14=h5eee18b_0
overrides=7.7.0=pypi_0
packaging=24.1=pyhd8ed1ab_0
panda3d=1.10.13=pypi_0
panda3d-gltf=0.13=pypi_0
panda3d-simplepbr=0.12.0=pypi_0
pandas=2.2.2=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pathspec=0.12.1=pypi_0
pexpect=4.9.0=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=8.4.0=pypi_0
pip=24.0=py39h06a4308_0
platformdirs=4.2.2=pyhd8ed1ab_0
pluggy=1.5.0=pypi_0
proglog=0.1.10=pypi_0
progressbar=2.5=pypi_0
prometheus-client=0.20.0=pypi_0
prompt-toolkit=3.0.47=pyha770c72_0
prompt_toolkit=3.0.47=hd8ed1ab_0
protobuf=3.20.3=pypi_0
psutil=6.0.0=pypi_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
py=1.11.0=pypi_0
pycocotools=2.0.8=pypi_0
pycparser=2.22=pypi_0
pydantic=2.8.2=pypi_0
pydantic-core=2.20.1=pypi_0
pygame=2.6.0=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pyogrio=0.9.0=pypi_0
pyparsing=3.1.2=pypi_0
pyproj=3.6.1=pypi_0
pyquaternion=0.9.9=pypi_0
pyre-extensions=0.0.29=pypi_0
pytest=8.2.2=pypi_0
python=3.9.19=h955ad1f_1
python-dateutil=2.9.0.post0=pypi_0
python-json-logger=2.0.7=pypi_0
python_abi=3.9=2_cp39
pytorch-mutex=1.0=cuda
pytz=2024.1=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.2=py39h6a678d5_0
rasterio=1.3.10=pypi_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
regex=2024.5.15=pypi_0
requests=2.32.3=pypi_0
retry=0.9.2=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.18.1=pypi_0
s3transfer=0.10.2=pypi_0
safetensors=0.4.3=pypi_0
scikit-learn=1.5.0=pypi_0
scipy=1.13.1=pypi_0
seaborn=0.13.2=pypi_0
send2trash=1.8.3=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=69.5.1=py39h06a4308_0
shapely=2.0.5=pypi_0
six=1.16.0=pyh6c4a22f_0
sniffio=1.3.1=pypi_0
snuggs=1.4.7=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=1.4.27=pypi_0
sqlite=3.45.3=h5eee18b_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.37.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
termcolor=2.4.0=pypi_0
terminado=0.18.1=pypi_0
terminaltables=3.1.10=pypi_0
threadpoolctl=3.5.0=pypi_0
timm=1.0.7=pypi_0
tinycss2=1.3.0=pypi_0
tk=8.6.14=h39e8969_0
tokenizers=0.13.3=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.12.5=pypi_0
torch=1.10.2+cu113=pypi_0
torchaudio=0.10.1=py39_cu113
torchvision=0.11.3+cu113=pypi_0
tornado=6.4.1=pypi_0
tqdm=4.66.4=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
transformers=4.27.4=pypi_0
types-python-dateutil=2.9.0.20240316=pypi_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.12.2=pyha770c72_0
tzdata=2024.1=pypi_0
uri-template=1.3.0=pypi_0
urllib3=1.26.19=pypi_0
uvicorn=0.30.5=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
webcolors=24.6.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=py39h06a4308_0
widgetsnbextension=4.0.11=pypi_0
wrapt=1.16.0=pypi_0
xformers=0.0.19+92a85fa.d20240229=dev_0
xz=5.4.6=h5eee18b_1
y-py=0.6.2=pypi_0
yapf=0.40.2=pypi_0
yarl=1.9.4=pypi_0
ypy-websocket=0.8.4=pypi_0
zeromq=4.3.5=h6a678d5_0
zipp=3.19.2=pypi_0
zlib=1.2.13=h5eee18b_1
zstd=1.5.0=ha95c52a_0
